.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.modal {
  border: none;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  width: 90%;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  margin: 200px auto;
}

@media screen and (min-width: 768px) {
  .modal {
    margin: auto;
  }
}
