h3 {
  font-size: 14px;
}

.total {
  margin-bottom: 20px;
  color: #facc15;
  font-size: 14px;
  font-weight: 600;
  background: #3b4251;
  padding: 6px 15px;
  width: fit-content;
  border-radius: 4px;
}

.successMessage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.successMessage h3 {
  margin: 0;
}

.closeBtn {
  width: 140px;
}

.actions {
  display: flex;
  float: right;
  margin-top: 10px;
  gap: 10px;
}

.submit {
  padding: 8px 20px;
}


@media screen and (min-width: 768px) {
  h3 {
    font-size: 20px;
  }
  .total {
    font-size: 16px;
  }
}
