.capture-button {
  position: fixed;
  top: 16px;
  margin-left: 100px;
  float: left;
  padding: 8px 8px;
  border-radius: 8px;
  border: none;
  background: #38bdf8;
  color: white;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transform: rotateZ(39deg) translateX(32px) translateY(-16px);
}

@media screen and (min-width: 768px) {
  .capture-button {
    top: 30px;
    padding: 10px 16px;
    margin-left: 70px;
  }
}
